
.topbar-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 50px;
    background-color: #399FD7;
   
}
.topbar-content{
    color: #fff;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
}
.topbar-content a{
    color: #fff;
    text-decoration: none;

}
.topbar-user{
    color: #fff;
    display: flex;
    gap: 10px;
    font-size: 12px;
}
.topbar-user i{
    font-size:24px;
}
.topbar-user p{
    margin-top: 6px;
}