<div class="preno-main">
    <fieldset>
        <legend>PRENOTAZIONE</legend>

        <h5>Lista Prescrizioni</h5>

        <div class="preno-error">
            <i class="bi bi-exclamation-octagon-fill"></i>
            <div class="preno-error-text">
                <p> ATTENZIONE : Se non trovi la tua ricetta utilizza la funzione di ricerca
                Non si possono prenotare le prestazioni di laboratorio analisi (utilizzare <b>ZEROCODE</b>) Non si possono prenotare prestazioni con
                PRIORITA' PRESCRIZIONE U (urgente), rivolgersi al CUP.</p>
            </div>
        </div>

        <div class="preno-help">
            <div class="preno-help-icon">
                <i class="bi bi-question-circle-fill"></i>
            </div>
            
            <p>Recupera la ricetta inserendo il Numero della tua Ricetta Elettronica (NRE)</p>
            <div class="preno-help-input">
               <input type="text" name="" id="" value="0900">
               <button><i class="bi bi-search"></i> <span>Cerca</span></button>
            </div>
        </div>

        <div class="preno-sucess">
            Prenota la tua ricetta dall'elenco delle ricette dematerializzate Prescritte di seguito
        </div>


        <div class="pagination">
            <div>1</div>
            <div>2</div>
            <p>></p>
        </div>

        <div class="preno-content">
            <div class="preno-content-box">
                <div class="preno-content-nre">
                    <div class="preno-content-nre-no">
                        <h5>NRE</h5>
                        <p>0900X000XXXXXX</p>
                    </div>
                    <div class="preno-content-nre-prescritta">
                        <h5>Prescritta</h5>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="preno-content-date">
                    <h5>Date Prescrizione</h5>
                    <p>28/04/2024</p>
                </div>
            </div>


            <div class="preno-content-box">
                <div class="preno-content-nre">
                    <div class="preno-content-nre-no">
                        <h5>NRE</h5>
                        <p>0900X000XXXXXX</p>
                    </div>
                    <div class="preno-content-nre-prescritta">
                        <h5>Prescritta</h5>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="preno-content-date">
                    <h5>Date Prescrizione</h5>
                    <p>28/04/2024</p>
                </div>
            </div>


            <div class="preno-content-box">
                <div class="preno-content-nre">
                    <div class="preno-content-nre-no">
                        <h5>NRE</h5>
                        <p>0900X000XXXXXX</p>
                    </div>
                    <div class="preno-content-nre-prescritta">
                        <h5>Prescritta</h5>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="preno-content-date">
                    <h5>Date Prescrizione</h5>
                    <p>28/04/2024</p>
                </div>
            </div>



            <div class="preno-content-box">
                <div class="preno-content-nre">
                    <div class="preno-content-nre-no">
                        <h5>NRE</h5>
                        <p>0900X000XXXXXX</p>
                    </div>
                    <div class="preno-content-nre-prescritta">
                        <h5>Prescritta</h5>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
                <div class="line"></div>
                <div class="preno-content-date">
                    <h5>Date Prescrizione</h5>
                    <p>28/04/2024</p>
                </div>
            </div>
        </div>
    </fieldset>
</div>